<div class="container-fluid pt-2 pb-2" style="height:85vh;overflow-y:scroll;">
    <div class="container col-md-10">
<table class="table table-striped">
  <thead>
    <tr>
      <th class="align-middle text-center">ID</th>
      <th class="align-middle text-center">Name</th>
      <th class="align-middle text-center">Active</th>
      <th class="align-middle text-center">Clicks</th>
      <th class="align-middle text-center">Messages</th>
      <th class="align-middle text-center">Spend</th>
      <th class="align-middle text-center">CPC</th>
      <th class="align-middle text-center">CPR</th>
    </tr>
  </thead>
  <tbody>
    {{#each campaigns}}
    <tr>
      <td class="align-middle text-center">{{this.id}}</td>
      <td class="align-middle">{{this.name}}</td>
      <td class="align-middle text-center">{{this.active}}</td>
      <td class="align-middle text-center">{{formatNumber this.clicks}}</td>
      <td class="align-middle text-center">{{formatNumber this.messages}}</td>
      <td class="align-middle text-center">{{formatCurrency this.spend}}</td>
      <td class="align-middle text-center">{{formatCurrency this.cpc}}</td>
      <td class="align-middle text-center">{{formatCurrency this.cpr}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>


</div>